@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&family=Lato:ital@1&family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    padding: 1%;
    background-color: #181818;
    font-family: 'Labrada';
}
.header{
    width: 100%;
    display: flex;
}
.header__nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    justify-content: center;
}

.header__nav img {
    width: 48px;
    height: 48px;
}

.header__nav p {
    width: 140px;
    height: 39px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 100%;
    height: 100%;
}

.main__formulario{
    display:flex;
    flex-direction: column;
    gap: 20px; 
}

.main__formulario label, h1{
    color: #FFFFFF;
    font-weight: bold;
}

.main__formulario h1{
    display: flex;
    padding: 200px;
}
.main__formulario{
    padding: 5%;
    background-color: #313131;
    border-radius: 10px;
}