@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&family=Lato:ital@1&family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    padding: 1%;
    background-color: #181818;
}
.header{
    width: 100%;
    display: flex;
}
.header___figure{
    cursor: pointer;
}
.header__nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    justify-content: center;
}

.header__nav img {
    width: 48px;
    height: 48px;
}

.header__nav p {
    width: 140px;
    height: 39px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    
}
.header__divInput{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__divInput input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 480px;
    height: 48px;
    border: 1px solid #6F6F6F;
    border-radius: 8px 0px 0px 8px;
    background-color: #181818;
}
#searchImput{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins';
}


#buscar {
    display: flex;
    padding: 2%;
    width: 50px;
    height: 48px;
    background: #373737;
    border-radius: 0px 8px 8px 0px;
}

#buscar img{
    width: 100%;
    height: auto;
}
#addVideo{
    display: flex;
}
#addVideo:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.buttons{
    display: flex;
    flex-direction:row;
    position: absolute;
    left: 85%;
    gap: 20px;
}
#deleteIdVideo{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    padding: 20px;
    color: #FFFFFF;
    display: flex;
    position: absolute;
    top: 10%;
    left: 87.55%;
}
#deleteVideo{
    background-color: #181818;
    border: #181818;
}


.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 40px 50px;
    gap: 24px;
    width: 1366px;
    height: 72px;
    background: #181818;
}

#todos {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #373737;
    border: 1px solid #6F6F6F;
    border-radius: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
#todos:hover{
    background: #FFFFFF;
    color: #181818;
}

#tecnologia {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #373737;
    border: 1px solid #6F6F6F;
    border-radius: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
#tecnologia:hover{
    background: #FFFFFF;
    color: #181818;
}

#musica {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #373737;
    border: 1px solid #6F6F6F;
    border-radius: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

#musica:hover{
    background: #FFFFFF;
    color: #181818;
}

#comedia {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #373737;
    border: 1px solid #6F6F6F;
    border-radius: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
#comedia:hover{
    background: #FFFFFF;
    color: #181818;
}

.main__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.videos {
    display: flex;
    padding-bottom: 100px;
}

.image__miniature img{
    width: 303px;
}
.image__miniature img:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 100;
}

.videos h4 {
    padding-left: 20px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.icon_image {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    top: 5px;
}

.author_views {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 263px;
    height: 48px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 263px;
    height: 48px;

}

.author_views p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A3A3A3;
}


@media screen and (max-width: 600px) {
    .header__nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        justify-content: center;
    }
    
    .header__nav img {
        width: 48px;
        height: 48px;
    }
    
    .header__nav p {
        width: 140px;
        height: 39px;
    
        font-family: 'Impact';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        
    }
    .header__divInput{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    
 }